* {
    box-sizing: border-box;
    z-index: 0;
    position: relative;


    body {
        margin: 0;
        background: rgb(255, 255, 255);
        background: linear-gradient(360deg, rgba(255, 255, 255, 1) 0%, rgba(195, 231, 247, 1) 11%, rgba(41, 171, 226, 1) 100%);
        background-size: cover;


        #header {
            display: grid;
            grid-template-columns: 18.75rem auto 18.75rem auto 18.75rem;
            grid-template-rows: 18.75rem 5rem;
            z-index: 0;
            position: relative;


            .bannerPiece_03-z1 {
                grid-column: 3/4;
                grid-row: 0/1;
                width: 18.75rem;
                z-index: -2;
                position: absolute;
            }

            .bannerPiece_03-z2 {
                grid-column: 3/4;
                grid-row: 0/1;
                width: 18.75rem;
                z-index: -1;
                position: absolute;
                animation: circ 40s linear infinite;
            }

            .bannerPiece_03-z3 {
                grid-column: 3/4;
                grid-row: 0/1;
                width: 18.75rem;
                z-index: 1;
                position: absolute;
            }

            .bannerPiece_07 {
                grid-column: 5/6;
            }

            .bannerPiece_02 {
                background-image: url(/assets/images/banner/moving_Banner-02.svg);
                background-size: 18.75rem auto;
                background-repeat: repeat-x;
            }

            .bannerPiece_04 {
                background-image: url(/assets/images/banner/moving_Banner-04.svg);
                background-size: 18.75rem auto;
                background-repeat: repeat-x;
            }
        }

    }

    main {
        display: grid;
        grid-template-columns: auto 40rem auto;
        grid-template-rows: 5rem minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) 2rem;
        z-index: 1;
        position: relative;
        min-width: 56.25rem;


        .bowtie {
            width: 10rem;
            height: 7rem;
            position: absolute;
            z-index: 1;
            grid-column: 2/3;
            grid-row: 2/3;
            left: 34rem;
            bottom: 3.5rem;
            z-index: 2;
            position: absolute;
        }

        .tie {
            width: 2.313rem;
            position: absolute;
            z-index: 1;
            grid-column: 2/3;
            grid-row: 2/3;
            left: 37.5rem;
            top: -6.5rem;
            // border: black 2px solid;
            animation: tie 40s linear infinite;

        }

        .tie2 {
            width: 4rem;
            position: absolute;
            z-index: 0;
            grid-column: 2/3;
            grid-row: 2/3;
            left: 36.8rem;
            top: -8rem;
            // border: red 2px solid;
            animation: tie2 40s linear infinite;
        }

        #por_Piece1 {
            grid-column: 2/3;
            grid-row: 2/3;
        }

        #entry_Section {
            grid-column: 2/3;
            grid-row: 3/4;
            background-image: url(/assets/images/portrait/por_middle.svg);

            #art_Entry {
                display: flex;
                flex-direction: row;
                grid-template-columns: 1fr 1fr;
                align-items: flex-start;
                padding: 1rem;

                img {
                    width: 34.375rem;
                    image-rendering: -moz-crisp-edges;
                    image-rendering: -webkit-crisp-edges;
                    image-rendering: pixelated;
                    image-rendering: crisp-edges;
                }

                .acc_Text {
                    padding-left: 1rem;
                    padding-right: 1rem;
                }

            }

        }

        #por_Piece2 {
            grid-column: 2/3;
            grid-row: 4/5;
        }

    }
}

@keyframes tie {
    0% {
        transform: rotate(0%);
    }

    5% {
        transform: rotate(-35deg);
    }

    10% {
        transform: rotate(-20deg);
    }

    15% {
        transform: rotate(-50deg);
    }

    20% {
        transform: rotate(-50deg);
    }

    25% {
        transform: rotate(-44deg);
    }

    30% {
        transform: rotate(-50deg);
    }

    34% {
        transform: rotate(-20deg);
    }

    37% {
        transform: rotate(-22deg);
    }

    42% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

@keyframes tie2 {
    0% {
        transform: rotate(0%);
    }

    7% {
        transform: rotate(-30deg);
    }

    13% {
        transform: rotate(-19deg);
    }

    20% {
        transform: rotate(-50deg);
    }

    23% {
        transform: rotate(-50deg);
    }

    28% {
        transform: rotate(-48deg);
    }

    32% {
        transform: rotate(-50deg);
    }

    36% {
        transform: rotate(-22deg);
    }

    41% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

@keyframes circ {


    100% {
        transform: rotate(360deg);
    }
}