* {
    box-sizing: border-box;

    body {
        margin: 0;
        height: 1200px;
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 1%, rgba(174, 218, 227, 1) 48%, rgba(0, 212, 255, 1) 100%);

        .banner {
            display: grid;
            grid-template-columns: 300px auto 300px auto 300px;
            grid-template-rows: 300px 300px;
            font-size: 16px;
            z-index: 1;

            .bannerPiece_07 {
                grid-column: 5/6;
            }

            .bannerPiece_02 {
                background-image: url(/assets/images/banner/bannerPiece-02.svg);
                background-size: 300px auto;
                // display: block;
            }

            .bannerPiece_04 {
                background-image: url(/assets/images/banner/bannerPiece-04.svg);
                background-size: 300px auto;
                // display: block;
            }

            .tempLogo {
                grid-column: 3/4;
                grid-row: 2/3;
                justify-self: center;
                z-index: 2;
                animation: wiggle 3s;
                z-index: 2;
            }
        }

        h1 {
            padding-top: 7rem;
            display: flex;
            justify-content: center;
            font-family: cinzel;
            src: url(/assets/font/Cinzel-Black.otf);
        }
    }

    @keyframes wiggle {
        11% {
            transform: rotate(30deg);
        }


        22% {
            transform: rotate(-30deg);
        }


        44% {
            transform: rotate(30deg);
        }


        55% {
            transform: rotate(-30deg);
        }


        77% {
            transform: rotate(30deg);
        }


        88% {
            transform: rotate(-30deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }
}